@{
    ViewData["Title"] = "Anu's Websraper version 1.1";
}
<h2>@ViewData["Title"]</h2>
<br />


<p>This is a ASP.NET Core web application. Selenium is used to scrape the data from Yahoo Finance website.</p>
