@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Anuradha Sengalvarayan<br />
    7, Christina drive<br />
    Wrentham, MA 02093<br />
    <abbr title="Phone">P:</abbr>
    617.949.6760
</address>

<address>
    <strong>Email:</strong> <a href="s_anuradha78@yahoo.com">s_anuradha78@yahoo.com</a><br />    
</address>
