@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<Name>
    <strong>Anuradha Sengalvarayan</strong><br />    
    <abbr title="Phone"><strong>Phone:</strong></abbr>
    617.949.6760
</Name>
<br />
<Emailaddress>
    <strong>Email:</strong> <a href="s_anuradha78@yahoo.com">s_anuradha78@yahoo.com</a><br />    
</Emailaddress>
