@{
    ViewData["Title"] = "Home Page";
}

<h2> Welcome to Anu's Web Scraping application</h2>
<br />

<p> Use this web app to scrape your favorite stock prices from Yahoo Finance and store the results for future reference</p>
<br />
