@model FinanceWebScraper.Models.Stock

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete the snapshot created at @Html.DisplayFor(model => model.SnapshotTime)?</h3>
<div>
    <form asp-action="Delete" asp-route-SnapshotTime=@Model.SnapshotTime >
        <input type="hidden" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
